  .AppLogin-popup-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .AppLogin-popup-inner {
    position: absolute;
    top: calc((100vh - 300px) / 2);
    left: calc((100vw - 300px) / 2);
    width: 300px;
    height: 300px;
    background: rgba(235, 231, 235, 0.92);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }
  
  .AppLogin-login-field {
    padding: 5px;
  }

  .AppLogin-button-field {
    padding: 5px;
    margin: 10px;
  }

  .AppLogin-button-group{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
  }